<div class="dashboard-topper-right">
  <h2>Tasks you've completed for <%= @cause.name %></h2>
</div>
<div class="timeform-tasks scroll-tasks">
   <div class="task-cards">
      <% @tasks.each do |task| %>
      <div class="completed-task">
        <div class="completed-task-header">
          <%= task.name%>
        </div>
        <div class="completed-task-body">
          <i class="fa fas fa-check check"></i>
          <div class="time-points">
            <div class="time">
            Time: <%= task.time %> minutes
            </div>
            <div class="points">
              Points: <%= task.points %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="progress">
  <h4>Your progress</h4>
</div>
<div class="progress-info">
  <div class="progress-tasks">
    <div class="task-count-header">
      <h4>Tasks completed</h4>
    </div>
    <div class="user-tasks">
      <p><%=@completed_task_count %> / <%= @cause.tasks.count%></p>
    </div>
  </div>
  <div class="progress-points">
    <div class="task-count-header">
      <h4>Points earned</h4>
    </div>
    <div class="logic">
      <p><%=@points%></p>
    </div>
  </div>
</div>
<div class="keepup">
  <p> Keep up the great work! Add more tasks </p>
  <div class="submit-container">
    <div class="submit-card">
    <%= link_to cause_id_task_path(id: @cause.id, time: "all") do %>
    <i class="fa fas fa-plus"></i>
    <% end %>
    </div>
  </div>
</div>
