<div class="page-container">
  <div class="title">
    <h2><%= @cause.name %></h2>
    <div class="carousel-container">
      <div class="cause-carousel">
        <h2> <&nbsp; Carousel &nbsp;> </h2>
          <%= link_to previous_cause_path(index: @index, time: @time) do  %>
          <button><</button>
          <% end  %>
          <%= link_to next_cause_path(index: @index, time: @time) do  %>
          <button>></button>
          <% end  %>

          <div class="more-info"><button>Find out more. Click here</button></div>
      </div>
      <div class="progess-bar">
      </div>
      <div class="cause-container">
        <div class="cause-show-cards">
          <div class="cause-show-card">
            <h2> Here's the latest news about <%= @cause.name %></h2>
            <h1>BlackLivesMatter.org - Coming Soon</h1>
            <% @tweets.each do |tweet| %>
              User @<%= tweet.user.screen_name %> said: "<%= tweet.text %>" on <%= tweet.created_at.strftime('%-m/%d/%Y') %>
              <br>
            <% end %>
          </div>
          <div class="cause-show-card">
          <%= render 'task_list' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="more-info-show">
  <h1>More info about this cause<h1>
  <h3> Notable organizations </h3>
</div>

